#wall .tag-1 {
    opacity: 75%;
    rotate: 20deg;
    scale: .5;
    padding-left:20cm;
}

#wall #tag-2 {
    opacity: 75%;
    rotate: -20deg;
    scale: .8;
    padding-left:30cm;

}

#wall .parent #tag-5 {
    scale:0;

}


#wall #tag-3 {
    scale:.5;
    padding-right:20cm;
    padding-bottom: 5cm;
}
